

<ion-content [class]="imagen_base">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" routerLink="/"></ion-icon>
    </ion-buttons>
    <div class="titulo">
      <h1>TEMAS</h1>
    </div>
    
  </ion-toolbar>
  <div class="botones_configuracion">
    <ion-button class="botones_configuracion" shape="round" expand="full" (click)='oscuro()'>OSCURO</ion-button>
  <ion-button class="botones_configuracion" shape="round" expand="full"(click)='claro()' >CLARO</ion-button> 
  </div>
  
  
  
  

</ion-content>