<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="routingViaAngular()" tab="home" expand="full" slot="start"></ion-icon>
     
    </ion-buttons>
    
    <ion-title>TEMAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class]="imagen_base">
  <div class="botones_configuracion">
    <ion-button class="botones_configuracion" expand="full" (click)='oscuro()'>OSCURO</ion-button>
  <ion-button class="botones_configuracion" expand="full"(click)='claro()' >CLARO</ion-button> 
  </div>
  
  
  
  

</ion-content>