
<ion-content  [class]="imagen_base">
  <h2 style="text-align:center" color="success">ESCOGE UNA TARJETA: </h2>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-button class="boton_jugar_pantalla_principal"  style='width:150px; height:200px' color="warning"  ></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="boton_jugar_pantalla_principal"  style='width:150px; height:200px' color="danger"  ></ion-button>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-button class="boton_jugar_pantalla_principal"  style='width:150px; height:200px' color="success"  ></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="boton_jugar_pantalla_principal"  style='width:150px; height:200px' color="primary"  ></ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
