
<ion-content  [class]="imagen_base" padding >
  <h2 style="text-align:center" color="success">Comienza Grupo: </h2>
  <ion-grid fixed>
    <ion-row >
      <ion-col size= "9" push="1.5">
        <div>
          <ion-card fullscreen color="success" (click)="onClick()">
            <ion-img src="./assets/img/icono.png"></ion-img>

            <ion-card-content>
              <ion-list-header>
                <ion-label >{{argumento}} </ion-label>
          </ion-list-header>
            </ion-card-content>
          </ion-card> 
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
