

<ion-content [class]="imagen_base">

  <div class="titulo">
    <h1>
      TEMPORIZADOR
    </h1>
  </div>
 
  
  <ion-list class="radio_buton_temporizador">
    <ion-radio-group  value="biff" (ionChange)="checkValue($event)">
      <ion-list-header>
        <h1>ELIJA UN TIEMPO</h1>
      </ion-list-header>
  
      <ion-item>
        <ion-label>1 MINUTO</ion-label>
        <ion-radio slot="start" value="1"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>2 MINUTOS</ion-label>
        <ion-radio slot="start" value="2"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>3 MINUTOS</ion-label>
        <ion-radio slot="start" value="3"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-item>
      <ion-button color="light" (click)="guardar()">GUARDAR</ion-button>
    </ion-item>

  </ion-list>
  


</ion-content>
