.titulo{
    font-size: 30px;
    text-align: center;
    color: white;
}
ion-list-header{
    color: #5c2e76;
}
ion-item{
    color: #5c2e76;
    padding: 5%;
}

ion-button{
    margin-right: 60%;
    margin-left: 35%;
}
