<ion-content class="ion-text-center" [class]="imagen_base" >
<ion-card class="ion-padding">
  <ion-text>
    <h1>{{ title }}</h1>
  </ion-text>
  <ion-card-content>
    <ion-list>
      <ion-radio-group (ionChange)="answer($event)">
        <ion-item lines="none" *ngFor="let respuesta of resp">
          <ion-label> {{ respuesta }}</ion-label>
          <ion-radio slot="start" [value]="respuesta"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card-content>
</ion-card>
<div class="options">
  <ion-row class="ion-padding">
    <app-reloj></app-reloj>
  </ion-row> 
</div>
</ion-content>
