<ion-app>
  <ion-menu side="end" menuId="first" contentId="main" swipeGesture="false" >
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item *ngFor="let cp of componentes" [routerLink]="cp.redirectTo" detail>
            <ion-icon slot="start" [name]='cp.icono'></ion-icon>
            <ion-label>{{cp.name}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>


</ion-app>
