<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ACERCA DE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class]="imagen_base">

  
    <ion-item class="item_desarroladores" *ngFor="let opcion of desarrolladores" (click)="presentAlert(opcion)">
      <ion-avatar slot="start">
        <ion-img [src]="opcion.icono"></ion-img>
        
      </ion-avatar>  
    
      {{opcion.nombre}}

  </ion-item>
  

</ion-content>
