ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    }
  
    .titulo{
      font-size: 30px;
      text-align: center;
      
  }
  
  ion-buttons{
    font-size: 200%;
  
  }