<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>CONFIGURACIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class]="imagen_base">
  <div class="botones_configuracion">
    <ion-button class="botones_configuracion" slot="start" expand="full" routerLink="/temporizador">TEMPORIZADOR</ion-button>
    <ion-button class="botones_configuracion" expand="full" routerLink="/temas">TEMAS</ion-button>
  <ion-button class="botones_configuracion" expand="full" routerLink="/estilos">ESTILOS</ion-button> 
  </div>
  
  
  
  

</ion-content>
