
<ion-content [class]="imagen_base"   [fullscreen]="true">
  <div>
    
    <ion-buttons>
      <ion-menu-button menu="first">
        
      </ion-menu-button>
      
    </ion-buttons>
  </div>
  
  <div class="titulo_pantalla_principal">
    <h1 class="cranium_criollo">CRANIUM CRIOLLO</h1>
    
  </div>
  
  <ion-grid cospan="4" color="white"> 


    <ion-button class="boton_jugar_pantalla_principal" expand="full" color="light">JUGAR</ion-button>

  </ion-grid>
    
</ion-content>

