

<ion-content [class]="imagen_base">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" routerLink="/ingresar"></ion-icon>
    </ion-buttons>
    <div class="titulo">
      <h1>AMARILLO</h1>
    </div>
    
  </ion-toolbar>
 

    <form (ngSubmit)="registroDatos()" color="warning">
      <ion-list color="warning">
        <ion-item color="warning">
          <ion-label position='floating'>Ingrese la pista</ion-label>
          <ion-input type="text" [(ngModel)]='informacion.pista' name='nombres'></ion-input>
  
        </ion-item>
        <ion-item color="warning">
          <ion-label position='floating'>Ingrese el anagrama</ion-label>
          <ion-input type="text" [(ngModel)]='informacion.palabra' name='cedula'></ion-input>
  
        </ion-item>
        <ion-item color="warning">
          <ion-label position='floating'>Ingrese palabra correcta </ion-label>
          <ion-input type="text" [(ngModel)]='informacion.correct' name='email'></ion-input>
  
        </ion-item>
        
        <ion-item color="yellow">
          <ion-button color="warning" expand="full" type="submit">ENVIAR</ion-button>
        </ion-item>
      </ion-list>
  
    </form>
 

</ion-content>
